<main>
  <div class="row">
    <div class="col-8">


      
      <h2 class="ms-1 mt-5">{{header}}</h2>

      {{#with contacts_data}}
          <h3 class="mt-4 ms-1">{{title}}</h3>

          {{#each buttons}}
            {{#if isPrimary}} 
            <button class="btn btn-warning ms-1 mt-2">{{text}}</button>
            {{/if}}
            {{#if isOutline}}
            <button class="btn btn-outline-warning mt-2">{{text}}</button>
            {{/if}}
          {{/each}}

    

          {{#with form}}
            {{#with input}}
            <div class="row">
                 {{#with surname}}
                    <div class="col-6">
                    <label class='form-label'>{{label}}</label>
                    <input placeholder='{{placeholder}}'class='form-control'/>
                    <div class='form-text'>{{caption}}</div>
                    </div>
                 {{/with}}
            
                 {{#with name}}
                    <div class="col-6">
                    <label class='form-label'>{{label}}</label>
                    <input placeholder='{{placeholder}}'class='form-control'/>
                    <div class='form-text'>{{caption}}</div>
                    </div>
                 {{/with}}
            </div>

            <div class="row">
                 {{#with phone}} 
                  <div class="col-6">
                  <label class='form-label'>{{label}}</label>
                  <input placeholder='{{placeholder}}'class='form-control'/>
                  <div class='form-text'>{{caption}}</div> 
                  </div>  
                 {{/with}}

                 {{#with email}}
                 <div class="col-6">
                 <label class='form-label'>{{label}}</label>
                 <input placeholder='{{placeholder}}' class='form-control'/>
                 <div class='form-text'>{{caption}}</div>
                 </div>
                 {{/with}}
            </div>

            <hr>

            {{#each ../switch}}
               <div class="form-check form-switch mt-3">
               <input type="checkbox" class="form-check-input" {{#if isActive}}checked{{/if}}>{{text}}
               </div>
            {{/each}}

            <hr>

 
            {{#with ../../../delivery}}
             <h4>{{title}}</h4>
             <div class="card">
              <div class="row">
               {{#each select}} 
               <div class="col-6">
               <label class="form-label">{{label}}</label>
               <select class="form-select">
               <option selected disabled hidden>{{placeholder}}</option>
               {{#each options}}
               <option value="{{value}}">{{text}}</option>
               {{/each}}
               </select>
               </div>      
                {{/each}}   
              </div> 
             </div> 

             <div class="form-check row d-flex">
             {{#each delivery_type}}     
             <div class="col-6">
              <input class="form-check-input" name=delivery_type type="radio" {{#if @first}}checked{{/if}}>
              <label class="form-check-label">{{type}}</label>
             </div>
             <div class="col-6 text-end">
                {{value}}
             </div>
             {{/each}}
             </div>

             <hr>

             <h4>Оплата</h4>

             
              {{#each payment}}
              <div class="form-check">
              <input class="form-check-input" name="payment" type="radio" {{#if description}}checked{{/if}}>
              <label class="form-check-label">{{type}}</label>
              <div class="form-text mx-1">{{description}}</div>
              </div>
              {{/each}}

              <hr>

              {{#with contact}}
               <h4>{{title}}</h4>

               <div class="row">
                {{#with surname}}
                   <div class="col-6">
                    <label class="form-label">{{label}}</label>
                    <input placeholder="{{placeholder}}" class="form-control">
                    <div class="form-text">{{caption}}</div>
                   </div>
                {{/with}}

                {{#with name}}
                   <div class="col-6">
                    <label class="form-label">{{label}}</label>
                    <input placeholder="{{placeholder}}" class="form-control">
                    <div class="form-text">{{caption}}</div>
                   </div>
                {{/with}}
               </div>

               <div class="row">
                {{#with phone}}
                   <div class="col-6">
                    <label class="form-label">{{label}}</label>
                    <input placeholder="{{placeholder}}" class="form-control">
                    <div class="form-text">{{caption}}</div>
                   </div>
                {{/with}}

                {{#with email}}
                   <div class="col-6">
                    <label class="form-label">{{label}}</label>
                    <input placeholder="{{placeholder}}" class="form-control">
                    <div class="form-text">{{caption}}</div>
                   </div>
                {{/with}}
               </div>

              {{/with}}

               <hr>

               {{#with coment}}
                   <label class="form-label">{{label}}</label>
                   <input placeholder="{{placeholder}}" class="form-control">
               {{/with}}

               <hr>          
             
              {{/with}}
         
            {{/with}}
          {{/with}}
      
      {{/with}}

      {{#with coupon}}
         <h4>{{title}}</h4>
         {{#with select}} 
             {{#with availabel_coupon}}
               <label class="form-label">{{label}}</label>
               <select class="form-control form-select p-1">
               <option selected disabled hidden>{{placeholder}}</option>
               {{#each options}} 
               <option value="{{value}}">{{text}}</option>
               {{/each}}
               </select>
             {{/with}}  
             
             {{#with friend_coupon}}
               <label class="form-label mt-3">{{label}}</label>
               <select class="form-control form-select p-1">
               <option selected disabled hidden>{{placeholder}}</option>
               {{#each options}} 
               <option value="{{value}}">{{text}}</option>
               {{/each}}
               </select>
             {{/with}} 
         {{/with}}  

         {{#with add}} 
            {{#with friend}}
                <label class="form-check-label mt-3">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
            {{/with}}
            {{#with colleague}}
                <label class="form-check-label mt-3">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
            {{/with}}
         {{/with}}
     
      {{/with}}

      <hr>

      {{#with quiz}}
        <h4>{{title}}</h4>
        {{#with preference}}
          <label class="form-check-label ms-1">{{title}}</label> 
            {{#each options}} 
            <div class="form-check {{#if @first}}checked{{/if}} ms-1">   
              <input class="form-check-input" name="quiz" type="radio" {{#if @first}}checked{{/if}}>{{this}}
            </div>         
             {{/each}}
        {{/with}}

        {{#with your_expirience}}
          <label class="form-label mt-2">{{label}}</label>
          <input class="form-control">
        {{/with}}

        {{#with purchase_frequency}}
            <label class="form-label mt-2">{{label}}</label>
            <select class="form-control form-select p-1">
              <option selected disabled hidden>{{placeholder}}</option>
               {{#each options}} 
               <option value="{{value}}">{{text}}</option>
               {{/each}}
            </select>
        {{/with}}

        {{#with factors}}
          <label class="form-check-label mt-2">{{title}}</label>
          {{#each options}}
          <div class="form-check">
          <input class="form-check-input" type="checkbox" {{#if isChecked}}checked{{/if}}>{{text}}
          </div>
          {{/each}}       
        {{/with}}

      {{/with}}
    </div>
 

<div class="col-4 mt-5 mb-1">
      <div class='card p-2'>
         {{#each action_block}}
          {{#if isPrimary}}
          <button class='btn btn-success'>{{text}}</button>
          {{/if}}
          {{#if isDanger}}
          <button class='btn btn-danger m-2'>{{text}}</button>
          {{/if}}
          {{#if isInfo}}
          <button class='btn btn-info'>{{text}}</button>
          {{/if}}
          {{/each}}
      </div>  

      {{#with total}}
        <div class="card mt-2">
          <h4>{{title}}</h4>
          <ul class="p-1">
          {{#each item_list}}
            <div class="list-group-item">{{name}} : {{price}}</div>
          {{/each}}
          <hr>
          {{#each additional_info}}
            <div class="list-group-item">{{text}} : {{value}}</div> 
          {{/each}}
          <hr>
          {{#with total_price}}
          <div>{{text}} : {{value}}</div>
          {{/with}}
          <hr>
          {{#each button}}
          {{#if isPrimary}}
             <button class="btn btn-primary">{{text}}</button>
          {{/if}}
          {{#if isOutline}}
             <button class="btn btn-outline-primary mt-2">{{text}}</button>
          {{/if}}
          {{/each}}
          </ul>
        </div>
        {{/with}}                    
</div>

</div>
</main>
<hr>



  







