<div class='row'>
      <div class='col-3'>
        {{number}}
        {{status}}
      </div>

      <div class='col-2'>
        {{#with amount}}
          {{title}}
          :
          <br />
          {{value}}
        {{/with}}
      </div>

      <div class='col-4'>
        {{#each images}}
          <img class='col-3' src='{{this}}' />
        {{/each}}
      </div>

      <div class='col-3 text-end'>
        {{#with button}}
          {{#if isPrimary}}
            <a
              href='{{link}}'
              class='btn btn-primary'
            >{{text}}</a>
          {{/if}}
        {{/with}}
      </div>
 </div>
 
 <hr class='mt-2' />